<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../css/ie.css">
  <script src="../js/jquery3.3.js"></script>
  <script>
    $(function () {
      $('#btn1').click(function () {
        $('.new').addClass('mask');
        $('.edit').removeClass('mask');
      });
      $('#btn2').click(function () {
        $('.edit').addClass('mask');
        $('.new').removeClass('mask');
      });
      $('#btn4').click(function () {
        $('.edit').removeClass('mask');
      });
      $('#btn3').click(function () {
        $('.new').removeClass('mask');
      });
    });
  </script>
</head>

<body>
    <button id="btn1">s new</button>
    <button id="btn2">s edit</button>
    <button id="btn3">d new</button>
    <button id="btn4">d edit</button>
  <div class="container">
    <div class="content"></div>
    <div class="new"></div>
    <div class="edit"></div>
  </div>
</body>

</html>